<div class="splash splash__logo">
  <div class="logo splash__logo">BillTracker</div>
</div>

<div class="splash">
  <div class="splash__btns">
    <%= link_to 'LOG IN', new_user_session_path, class: "btn primary_btn btn_txt" %>
  </div>
  <div class="splash__options btn_txt start"><%= link_to 'SIGN UP', new_user_registration_path %></div>
</div>
